.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: white;
	border-radius: 20px;
	margin-top: 10px;
	padding: 20px;
	text-align: left;
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 20px;
}

.school-logo {
	width: 20%; /* Adjust as needed */
	height: 20%;
	margin-right: 20px;
}
.title h2 {
	font-size: 28px;
	font-family: montserrat;
	color: #000000;
	margin: 0;
	font-size: 40px;
	text-align: center;
	width: auto;
	padding-top: 50px;
}

.columns {
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap; /* Allow columns to wrap on smaller screens */
}

.column {
	width: 30%; /* Each column takes up roughly a third of the width */
	box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.column h3 {
	font-size: 24px;
	color: #000000;
	margin-bottom: 15px;
	margin-top: 15px;
	text-align: left;
}

.title p {
	margin: 10px 0;
}

.value-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2px;
}

.edit-icon {
    color: #007bff;
    text-decoration: none;
    margin-left: 10px; /* Space between text and icon */
}

.edit-icon:hover {
    color: #0056b3;
}

.edit-icon i {
    font-size: 26px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
	.column {
		width: 45%; /* Adjust for medium screens */
	}
}

@media (max-width: 768px) {
	.school-logo {
		width: 30%; /* Adjust logo size on smaller screens */
		height: auto;
	}

	.title h2 {
		font-size: 32px; /* Adjust heading size on smaller screens */
	}

	.columns {
		flex-direction: column; /* Stack columns vertically on small screens */
	}

	.column {
		width: 100%; /* Full width columns on small screens */
		margin-bottom: 20px; /* Space between columns */
	}
}

@media (max-width: 480px) {
	.edit-icon {
		font-size: 20px; /* Smaller edit icon on very small screens */
	}
}
	
.current-title{
	display: block;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.current-title h1{
	font-size: 60px;
	margin-top: 20px;
	color: #4b090a;
}